
html, body {
    min-height: 100%;
    min-width: 100%;
}

.main {
    background: rgb(80, 74, 237);
    align-items: center;

}

.wrapper {
    background: rgb(142, 239, 248);
    width: 80%;
    height: 100%;
    margin: auto;
}

.cross {
    width: 20px;
    height: 20px;
}

.image {
    width: 200px;
    height: 200px;
}